.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f0f0f;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 25rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  width: 100%;
}

.home_link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading__description {
  color: #fff;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.logo_img {
  width: 12rem;
  height: auto;
  fill: #fff;
  pointer-events: none;
}

.heading__logo {
  color: #fff;
  font-size: 5rem;
  display: inline-block;
  pointer-events: none;
}

.sidebar_lists-box {
  width: 100%;
  margin: auto;
}

.sidebar_lists {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2.4rem;
}

.sidebar_lists .list {
  display: flex;
  width: 100%;
  border-top: #454545 solid 1px;
  align-self: center;
}

.sidebar_lists .list.list:last-child {
  border-bottom: #454545 solid 1px;
}

.sidebar_lists .list a {
  text-transform: uppercase;
  font-size: 3.2rem;
  display: inline-block;
  margin: auto;
  padding: 2rem 0;
}

.lists_link {
  cursor: pointer;
}

.lists_link:hover {
  color: #3bc9db;
  transition: all 0.3s;
}

.sidebar__icons-box {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
  justify-content: center;
  align-content: center;
}

.sidebar__icon_link {
  color: #3bc9db;
  fill: red;
}

.logo-icon {
  width: 5rem;
  height: 4rem;
  color: #3bc9db;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  -webkit-touch-callout: none;
  user-select: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 89.87em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 78.13em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 61.44em) {
  html {
    font-size: 43.75%;
  }
}

@media only screen and (max-width: 48.75em) {
  html {
    font-size: 37.94%;
  }
}

@media only screen and (max-width: 26.86em) {
  html {
    font-size: 31.25%;
  }
}

.lists {
  list-style: none;
}

.container {
  padding-left: 25rem;
  position: relative;
}

@media only screen and (max-width: 48.75em) {
  .container {
    padding-left: 0;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

.section-full {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131313;
}

@media only screen and (max-width: 78.13em) {
  .section-full {
    height: 100vh;
    min-height: max-content;
  }
}

.section-full .blast-root {
  font-size: 8rem;
  color: white;
  cursor: default;
}

@media only screen and (max-width: 61.44em) {
  .section-full .blast-root {
    font-size: 7rem;
  }
}

.section-full .blast {
  display: inline-block;
  margin-right: -2rem;
  color: #fff;
  cursor: default;
}

.section-full .right_white_space {
  margin-right: 2rem;
}

@media only screen and (max-width: 78.13em) {
  .section-full .right_white_space {
    margin-right: 1rem;
  }
}

.section-full .animation {
  display: inline-block;
  animation: letteranim 0.5s ease-in;
  animation-iteration-count: 1;
}

.section-box {
  width: 100%;
  margin: auto;
  padding-left: 6rem;
  padding-right: 4rem;
}

.description-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 6rem;
}

p {
  font-size: 3rem;
  color: #fff;
}

.heading-2 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 400;
  margin-top: 3rem;
}

.btn {
  display: inline-block;
  text-align: center;
  color: #3bc9db;
  font-size: 3.6rem;
  padding: 2rem 4rem;
  margin-top: 3.5rem;
  border: solid 1px #3bc9db;
  background-color: #212529;
  background-image: linear-gradient(130deg, transparent 0%, transparent 50%, #3bc9db 50%);
  background-size: 230%;
  transition: all 0.5s;
}

.btn:hover, .btn:active {
  background-position: 100%;
  color: #fff;
  border: solid 1px #fff;
}

.section-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

@media only screen and (max-width: 61.44em) {
  .section-contact {
    grid-template-columns: 1fr;
  }
}

.contact-form {
  margin-top: 4rem;
}

.contact-form ul {
  list-style: none;
  border: none;
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1fr;
}

.contact-form ul li {
  border-bottom: #131313 solid 0.3rem;
}

.contact-form ul li .input__field {
  border: none;
  outline: none;
  padding-left: 2rem;
  height: 6rem;
  width: 100%;
  background-color: #434343;
  font-size: 2.4rem;
  color: #fff;
}

.contact-form ul li .input__field:active {
  border: none;
  outline: none;
}

.contact-form li:nth-child(3) {
  grid-column: 1 / -1;
}

.contact-form li:nth-child(4) {
  grid-column: 1 / -1;
}

.contact-form li:nth-child(4) textarea {
  padding-top: 1.2rem;
  height: 20rem;
}

.contact-form li:nth-child(5) {
  grid-column: 1 / -1;
}

.contact-form li:nth-child(5) textarea {
  padding-top: 1.2rem;
  height: 20rem;
}

.border__bottom-animation {
  background-color: #3bc9db !important;
  animation: border_anim 0.4s linear;
  animation-fill-mode: forwards !important;
  backface-visibility: hidden;
}

.border__bottom-animation-red {
  background-color: red !important;
  animation: border_anim 0.4s linear;
  animation-fill-mode: forwards !important;
  backface-visibility: hidden;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animation_helper {
  background-color: #131313;
  height: 0.3rem;
  display: block;
}

.second-page-contact {
  max-width: 99%;
  max-height: 99%;
  padding-right: 1rem;
}

@media only screen and (max-width: 61.44em) {
  .second-page-contact {
    margin: 0 4rem 2rem 6rem;
    max-height: 130vh;
  }
}

.map {
  max-width: 100%;
  height: 100%;
}

.section-about {
  background-color: #131313;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
}

@media only screen and (max-width: 61.44em) {
  .section-about {
    grid-template-columns: 1fr;
  }
}

.text_link {
  color: #3bc9db;
  cursor: pointer;
}

.second-box-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 48.75em) {
  .second-box-about {
    margin-bottom: 15rem;
  }
}

.flip-card {
  width: 25rem;
  height: 40rem;
  perspective: 100rem;
  border-radius: 1rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 1rem;
}

.card-img {
  margin-top: 4rem;
  max-width: 20rem;
  height: auto;
  border-radius: 50%;
}

.card_link {
  margin-top: 4rem;
  display: inline-block;
  font-size: 3.6rem;
  color: #bbb;
  border-bottom: 1px solid #bbb;
}

.heading_card {
  font-size: 3.6rem;
  color: #bbb;
  padding-top: 4rem;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #464646;
  transform: rotateY(180deg);
}

.flip-card-front {
  background-color: #464646;
}

@media only screen and (max-width: 48.75em) {
  .sidebar {
    display: none;
  }
}

.mobile_navigation-box {
  position: absolute;
  top: 8rem;
  right: 5rem;
}

@media only screen and (max-width: 48.75em) {
  .mobile_navigation-box {
    display: flex;
  }
}

.mobile_navigation-btn {
  color: #3bc9db;
  background-color: inherit;
  border: none;
}

.mobile_navigation-icon {
  align-self: center;
  font-size: 5rem;
  color: #3bc9db;
  background-color: inherit;
  border: none;
  border: none !important;
}

.hidden {
  display: none;
}

.mobile_navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f0f0f;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 100vh;
  width: 100%;
}

@keyframes letteranim {
  0% {
    transform: scale(1, 1);
    color: #3bc9db;
  }
  60% {
    transform: scale(1.5, 0.7);
  }
  88% {
    transform: scale(0.8, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes texttypping {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes texttypping-about {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes texttypping-my-skills {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes texttypping-contact {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.animation-observer .blast-child:first-child {
  opacity: 0;
  animation: texttypping 2s steps(40, end);
  animation-iteration-count: 1;
  overflow: hidden;
  white-space: nowrap;
  animation-fill-mode: forwards;
}

.animation-observer .blast-child:nth-child(2) {
  opacity: 0;
  animation: texttypping 2s steps(40, end);
  animation-iteration-count: 1;
  overflow: hidden;
  white-space: nowrap;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

.animation-observer .blast-child:nth-child(3) {
  opacity: 0;
  animation: texttypping 3s steps(40, end);
  animation-iteration-count: 1;
  overflow: hidden;
  white-space: nowrap;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.animation-blast-child-about {
  opacity: 0;
  animation: texttypping-about 2s steps(40, end);
  animation-iteration-count: 1;
  overflow: hidden;
  white-space: nowrap;
  animation-fill-mode: forwards;
}

.animation-blast-child-contact {
  opacity: 0;
  animation: texttypping-contact 2s steps(40, end);
  animation-iteration-count: 1;
  overflow: hidden;
  white-space: nowrap;
  animation-fill-mode: forwards;
}

.animation-observer-2-rows .blast-child:first-child {
  opacity: 0;
  animation: texttypping-my-skills 2s steps(40, end);
  animation-iteration-count: 1;
  overflow: hidden;
  white-space: nowrap;
  animation-fill-mode: forwards;
}

.animation-observer-2-rows .blast-child:nth-child(2) {
  opacity: 0;
  animation: texttypping-my-skills 2s steps(40, end);
  animation-iteration-count: 1;
  overflow: hidden;
  white-space: nowrap;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.section-my-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

@media only screen and (max-width: 61.44em) {
  .section-my-skills {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

.second-page-my-skills {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-right: 2rem;
}

@media only screen and (max-width: 61.44em) {
  .second-page-my-skills {
    height: 60rem;
  }
}

.anim-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  margin: auto 0;
  display: grid;
  grid-template-columns: 5rem;
  grid-template-rows: 5rem;
  place-content: center;
}

.span-about {
  color: #3bc9db;
  font-size: 4.5rem;
  grid-area: 1/1;
  line-height: 4rem;
  text-align: center;
  animation: spin 16s var(--d, 0s) linear infinite;
  /* duration = 12s, numbor of item = 6 so a delay of 12/6 = 2s */
  transform: rotate(0deg) translate(5rem, 20rem) rotate(180deg);
}

@media only screen and (max-width: 61.44em) {
  .span-about {
    transform: rotate(0deg) translate(5rem, 15rem) rotate(180deg);
  }
}

@keyframes spin {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: rotate(-1turn) translate(10rem, 40rem) rotate(1turn);
    display: none;
    @media only screen and (max-width: 61.44em) {
      transform: rotate(-1turn) translate(10rem, -20rem) rotate(1turn);
    }
  }
}

.section-box-my-work {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-content: center;
}

@media only screen and (max-width: 61.44em) {
  .section-box-my-work {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}

.card {
  max-width: 25rem;
  height: auto;
  background-color: #464646;
  border-radius: 1rem;
  padding: 0.4rem;
  margin-right: 2rem;
}

.card:first-child {
  margin-left: 5rem;
}

@media only screen and (max-width: 61.44em) {
  .card:first-child {
    margin-left: 0;
  }
}

@media only screen and (max-width: 89.87em) {
  .card {
    max-width: 20rem;
  }
}

@media only screen and (max-width: 61.44em) {
  .card {
    max-width: 30rem;
  }
}

.site-card {
  width: 100%;
  height: 85%;
  border-radius: 1rem;
}

.card_btn_box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.img-card {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem;
}

.card_link_my_work {
  border: none;
  font-size: 3.63rem;
  color: #3bc9db;
}
