.section-my-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  @include respond(tab-port) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
.second-page-my-skills {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-right: 2rem;
  @include respond(tab-port) {
    height: 60rem;
  }
}
.anim-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 100%;
  margin: auto 0;
  display: grid;
  grid-template-columns: 5rem;
  grid-template-rows: 5rem;
  place-content: center;
}
.span-about {
  color: $color-text-sec;
  font-size: 4.5rem;
  grid-area: 1/1;
  line-height: 4rem;
  text-align: center;
  animation: spin 16s var(--d, 0s) linear infinite; /* duration = 12s, numbor of item = 6 so a delay of 12/6 = 2s */
  transform: rotate(0deg) translate(5rem, 20rem) rotate(180deg);
  @include respond(tab-port) {
    transform: rotate(0deg) translate(5rem, 15rem) rotate(180deg);
  }
  @include respond(small-phone) {
    transform: rotate(0deg) translate(5rem, 7rem) rotate(180deg);
  }
}
@keyframes spin {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: rotate(-1turn) translate(10rem, 40rem) rotate(1turn);
    display: none;
    @include respond(tab-port) {
      transform: rotate(-1turn) translate(10rem, -20rem) rotate(1turn);
    }
  }
}
