.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f0f0f;
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  width: 25rem;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  width: 100%;
}
.home_link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading__description {
  color: #fff;
  font-size: 2rem;
  padding-bottom: 2rem;
}
.logo_img {
  width: 12rem;
  height: auto;
  fill: #fff;
  pointer-events: none;
}
.heading__logo {
  color: #fff;
  font-size: 5rem;
  display: inline-block;
  pointer-events: none;
}

.sidebar_lists-box {
  width: 100%;
  margin: auto;
}
.sidebar_lists {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2.4rem;
  .list {
    display: flex;
    width: 100%;
    border-top: #454545 solid 1px;
    align-self: center;

    &.list:last-child {
      border-bottom: #454545 solid 1px;
    }
    & a {
      text-transform: uppercase;
      font-size: 3.2rem;
      display: inline-block;
      margin: auto;
      padding: 2rem 0;
    }
  }
}

.lists_link {
  cursor: pointer;
  &:hover {
    color: #3bc9db;
    transition: all 0.3s;
  }
}

.sidebar__icons-box {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
  justify-content: center;
  align-content: center;
}
.sidebar__icon_link {
  color: #3bc9db;
  fill: red;
}
.logo-icon {
  width: 5rem;
  height: 4rem;
  color: #3bc9db;
}
