.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  background-color: #0f0f0f;
  position: fixed;
  left: 0;
  top: 0;
  width: 25rem;
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    width: 100%;

    .heading__description {
      color: #fff;
      font-size: 2rem;
      padding-bottom: 2rem;
    }
    .logo_img {
      width: 12rem;
      height: auto;
      fill: #fff;
    }
    .heading__logo {
      color: #fff;
      font-size: 5rem;
      display: inline-block;
    }
  }
  .sidebar_lists-box {
    width: 100%;
    margin: auto;
  }
  .sidebar_lists {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2.4rem;
    .list {
      display: flex;
      width: 100%;
      border-top: #454545 solid 1px;
      align-self: center;

      &.list:last-child {
        border-bottom: #454545 solid 1px;
      }
      & a {
        text-transform: uppercase;
        font-size: 3.2rem;
        display: inline-block;
        margin: auto;
        padding: 2rem 0;
      }
    }
  }
}
.lists_link {
  cursor: pointer;
  &:hover {
    color: #3bc9db;
    transition: all 0.3s;
  }
}
